Data set 2

In [2]:

import pandas as pd 
from datetime import datetime 
import seaborn as sns 
import matplotlib.pyplot as plt
import pandas as pd 
from datetime import datetime 
import seaborn as sns 
import matplotlib.pyplot as plt


# Reading the movies dataset 
df_movies = pd.read_csv('movies.csv')
# df_movies.head()



# Reading the ratings dataset 
df_ratings = pd.read_csv('ratings.csv')
# df_ratings.head()

In [3]:
df_movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
df_ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [7]:
df_.head()

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1.0,4.0,9.649827e+08
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5.0,4.0,8.474350e+08
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7.0,4.5,1.106636e+09
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15.0,2.5,1.510578e+09
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17.0,4.5,1.305696e+09

In [6]:
# Merging the df_ to keep as a copy #Immortal copy#
df_ = df_movies.merge(df_ratings, how="left", on="movieId")

# Help keep a copy of my dataframe intact for safe keep and work on the copied one 
df = df_.copy()

df.head()

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1.0,4.0,9.649827e+08
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5.0,4.0,8.474350e+08
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7.0,4.5,1.106636e+09
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15.0,2.5,1.510578e+09
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17.0,4.5,1.305696e+09

If we want to come up with a good recommender it would be better if we would separate the good rated movies and the bad rated movies in different variables like `less_rated` and `better_rated`.

Hence the essence of separating less-rated from better-rated movies in a recommendation system is to imporve the quality of recommendations.

It serves the following important purposes:
- `Focus on Quality Recommendations`: By excluding movies with less ratings, the recommendation system can focus on suggesting movies that have been positively rated leading to a higher-quality recommendations that align with users prefrence.

- `Noise Reeduction` : Movies with very few ratings can introduce noise into the recommendation process, hence, including these movies may result in unreliable recommendations beacuse ther isn't enough data to make accurate predictions.

In [278]:
df['title'].value_counts().head(4)

title
Forrest Gump (1994)                 329
Shawshank Redemption, The (1994)    317
Pulp Fiction (1994)                 307
Silence of the Lambs, The (1991)    279
Name: count, dtype: int64

In [218]:
df.columns

Index(['movieId', 'title', 'genres', 'userId', 'rating', 'timestamp'], dtype='object')

In [231]:
df.head()

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1.0,4.0,9.649827e+08
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5.0,4.0,8.474350e+08
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7.0,4.5,1.106636e+09
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15.0,2.5,1.510578e+09
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17.0,4.5,1.305696e+09

In [220]:
import pandas as pd

def create_user_movie_df(df):
    # Count the number of ratings for each movie
    rating_counts = df['title'].value_counts()

    # Calculate the 90th percentile of rating counts
    limit_90 = rating_counts.quantile(0.90)

    # Filter out rare movies based on the 90th percentile
    common_movies = df[df.groupby('title')['title'].transform('count') > limit_90]

    # Create a user-movie pivot table
    user_movie_df = common_movies.pivot_table(index="userId", columns='title', values="rating")

    return user_movie_df

# # Call the function with your DataFrame 'df'
# user_movie_df = create_user_movie_df(df)

# # Display the first few rows of the resulting user-movie DataFrame
# user_movie_df.head()

In [221]:
# Call the function with your DataFrame 'df'
user_movie_df = create_user_movie_df(df)

# Display the first few rows of the resulting user-movie DataFrame
user_movie_df.head()

title,(500) Days of Summer (2009),10 Things I Hate About You (1999),101 Dalmatians (1996),101 Dalmatians (One Hundred and One Dalmatians) (1961),12 Angry Men (1957),2001: A Space Odyssey (1968),28 Days Later (2002),300 (2007),"40-Year-Old Virgin, The (2005)",50 First Dates (2004),...,X-Men: First Class (2011),X-Men: The Last Stand (2006),X2: X-Men United (2003),Yes Man (2008),You've Got Mail (1998),Young Frankenstein (1974),Zodiac (2007),Zombieland (2009),Zoolander (2001),Zootopia (2016)
userId,,,,,,,,,,,,,,,,,,,,,
1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN
2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN
3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.5,NaN,NaN,NaN,NaN,NaN
4.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [222]:
# Define a function for choosing a random user from a user-movie DataFrame 
# It takes two arguments: User_movie_df and random_state (a seed for random number generation)
def random_user_choose(user_movie_df, random_state):
    
    # Generate a random user by sampling one user ID from the index of user_movie_df
    # Random_state is used to ensure reproducibility of the random selection.
    random_user = int(pd.Series(user_movie_df.index).sample(1, random_state=random_state).values)
    
    
    return random_user

In [223]:
# Call the random_user_choose function to select a random user.
random_user = random_user_choose(user_movie_df, random_state=76)

random_user

370

Function for choosing a random movie-id

In [233]:
# Ensure 'random_movie_id' is a valid movie ID or select a valid one
valid_movie_ids = user_movie_df.columns  # List of valid movie IDs in your dataset

# if random_movie_id not in valid_movie_ids:
     # Select a random valid movie ID
#     random_movie_id = random.choice(valid_movie_ids)
valid_movie_ids[2]

'101 Dalmatians (1996)'

In [225]:
def movie_id_actual(df_ratings, random_user):
    # Filter the DataFrame to get ratings by the random user
    user_ratings = df_ratings[df_ratings["userId"] == random_user]
    
    if user_ratings.empty:
        # If the user hasn't rated any movies, return None
        return None
    
    # Find the movie with the highest rating among the user's rated movies
    top_rated_movie_id = user_ratings[user_ratings["rating"] == user_ratings["rating"].max()]["movieId"].iloc[0]
    
    return top_rated_movie_id

# Assuming you have df_ratings and random_user defined
# Call the movie_id_actual function to select a movie ID for the random user
random_movie_id = movie_id_actual(df_ratings, random_user)

# Print the random user ID and movie ID
print(f"Random User ID: {random_user}")
print(f"Top Rated Movie ID: {random_movie_id}")

Random User ID: 370
Top Rated Movie ID: 296

In [226]:
random_movie_id

296

In [227]:
def movie_id_name(dataframe, random_movie_id):
    movie_name = dataframe[dataframe["movieId"] == random_movie_id][["title"]].values[0].tolist()
    return movie_name[0]

movie_name = movie_id_name(df, random_movie_id)
movie_name

'Pulp Fiction (1994)'

In [228]:
import random

def item_based_recommender(movie_name, user_movie_df, random_user):
    movie_name = user_movie_df[movie_name]
    recommend_list = user_movie_df.corrwith(movie_name).sort_values(ascending=False).head(20)
    recommend_list = recommend_list.reset_index()
    recommend_list = recommend_list["title"].tolist()
    recommend_list

    random_user_df = user_movie_df[user_movie_df.index == random_user]
    random_user_movies_watched = random_user_df.columns[random_user_df.notna().any()].tolist()
    random_user_movies_watched_df = user_movie_df[random_user_movies_watched]
    random_user_movies_watched_df = random_user_movies_watched_df.columns.tolist()

    movie_to_recommend = [i for i in random_user_movies_watched_df if i not in recommend_list]
    movie_to_recommend = random.sample(movie_to_recommend, 5)
    return movie_to_recommend

In [229]:
item_based_recommender(movie_name, user_movie_df, random_user)

['American Beauty (1999)',
 'Trainspotting (1996)',
 'Terminator 2: Judgment Day (1991)',
 'Star Wars: Episode IV - A New Hope (1977)',
 'High Fidelity (2000)']

ofngo

In [280]:
from surprise import Dataset, Reader
from surprise.model_selection import train_test_split
from surprise import SVD 

#  Load your data into Surprise format
reader = Reader(rating_scale=(0.5, 5.0))
data = Dataset.load_from_df(train_data[['userId', 'movieId', 'rating']], reader)

# Split the data into train and test sets
trainset, testset = train_test_split(data, test_size=0.2, random_state=42)

# Define and train your recommendation model
model = SVD()  
model.fit(trainset)

# Generate recommendations for a random user
random_user = 37  # Replace with your random user ID
movie_id_to_predict = 78  # Replace with the movie ID you want to predict

# Predict the rating for a movie
predicted_rating = model.predict(random_user, movie_id_to_predict).est
print(f"Predicted rating for movie ID {movie_id_to_predict}: {predicted_rating}")

Predicted rating for movie ID 78: 3.4498815073209324

In [272]:
from surprise import accuracy

# Generate predictions on the train set manually
train_predictions = []
for user_id, movie_id, actual_rating in trainset.all_ratings():
    predicted_rating = model.predict(user_id, movie_id).est
    train_predictions.append((user_id, movie_id, actual_rating, predicted_rating, None))  # Add None as a placeholder for details

# Calculate RMSE (Root Mean Squared Error) on the train set
train_rmse = accuracy.rmse(train_predictions)
print(f"Root Mean Squared Error (RMSE) on the train set: {train_rmse}")

RMSE: 1.1412
Root Mean Squared Error (RMSE) on the train set: 1.1411673326006737

The RMSE of 1.1414 on the training set suggests that, on average, your recommendation model's predicted ratings differ from the actual ratings in the training set by approximately 1.1414 rating units. Lower RMSE values generally indicate better model performance, but it's important to keep in mind that this evaluation is on the training data, and model performance on unseen test data might differ.

In [273]:
# Check for missing values in the train_data DataFrame
missing_values = train_data.isna().sum()

# Display the count of missing values for each column
print("Missing Values in Train Data:")
print(missing_values)

Missing Values in Train Data:
movieId      0
title        0
genres       0
userId       0
rating       0
timestamp    0
dtype: int64

In [241]:
# Drop rows with missing values from train_data DataFrame
train_data.dropna(inplace=True)

In [274]:
from surprise import accuracy

# Step 5: Generate predictions on the test set
predictions = model.test(testset)

# Step 6: Calculate RMSE (Root Mean Squared Error)
rmse = accuracy.rmse(predictions)
print(f"Root Mean Squared Error (RMSE) on the test set: {rmse}")

RMSE: 0.8801
Root Mean Squared Error (RMSE) on the test set: 0.8801397904134773

The RMSE value of approximately 0.8787 on the test set indicates that, on average, your recommendation model's predicted ratings differ from the actual ratings in the test data by about 0.8787 rating units.
A lower RMSE value on the test set is generally a positive sign, as it suggests that the model is making more accurate predictions on new, unseen user-movie pairs.
In this case, the RMSE of 0.8787 on the test set is lower than the RMSE on the training set (1.1414). This is a good sign because it means that your recommendation model is performing better on unseen data than on the training data.
The lower RMSE on the test set indicates that your model is generalizing well and is capable of making accurate recommendations for new users and movies.
In summary, an RMSE of 0.8787 on the test set suggests that your recommendation model is performing well in terms of predicting user ratings for movies it hasn't seen during training. It's a positive outcome, indicating that your model is likely making meaningful and accurate movie recommendations to users

### Hyperparametr tuning using GridSearchCV

For Grid Search (exhaustively searches all combinations):

In [8]:
param_grid = {
    'n_factors': [50, 100, 150],
    'reg_all': [0.02, 0.1, 0.2],
    'lr_all': [0.002, 0.01, 0.02]
}

In [9]:
from surprise.model_selection import GridSearchCV

grid_search = GridSearchCV(SVD, param_grid, measures=['rmse'], cv=5, n_jobs=-1)
grid_search.fit(data)  # 'data' is the Surprise Dataset

NameError: name 'SVD' is not defined

In [260]:
print(f"Best RMSE: {grid_search.best_score['rmse']}")
print(f"Best Hyperparameters: {grid_search.best_params['rmse']}")

Best RMSE: 0.8634935454881342
Best Hyperparameters: {'n_factors': 150, 'reg_all': 0.1, 'lr_all': 0.02}

In [259]:
from surprise.model_selection import RandomizedSearchCV

random_search = RandomizedSearchCV(SVD, param_grid, measures=['rmse'], cv=5, n_jobs=-1, n_iter=10)
random_search.fit(data)  # 'data' is the Surprise Dataset

In [261]:
print(f"Best RMSE: {random_search.best_score['rmse']}")
print(f"Best Hyperparameters: {random_search.best_params['rmse']}")

Best RMSE: 0.8614044549987641
Best Hyperparameters: {'n_factors': 150, 'reg_all': 0.1, 'lr_all': 0.02}

In [270]:
from surprise import Dataset, Reader
from surprise.model_selection import train_test_split
from surprise import SVD 
from surprise import accuracy

# Load your data into Surprise format
reader = Reader(rating_scale=(0.5, 5.0))
data = Dataset.load_from_df(train_data[['userId', 'movieId', 'rating']], reader)

# Split the data into train and test sets
trainset, testset = train_test_split(data, test_size=0.2, random_state=42)

# Define and train your recommendation model
model = SVD()
model.fit(trainset)

# Generate recommendations for a random user
random_user = 37  # Replace with your random user ID
movie_id_to_predict = 29  # Replace with the movie ID you want to predict

# Predict the rating for a movie
predicted_rating = model.predict(random_user, movie_id_to_predict).est
print(f"Predicted rating for movie ID {movie_id_to_predict}: {predicted_rating}")

# Generate predictions on the test set
predictions = model.test(testset)

# Calculate RMSE (Root Mean Squared Error)
rmse = accuracy.rmse(predictions)
print(f"Root Mean Squared Error (RMSE) on the test set: {rmse}")

Predicted rating for movie ID 29: 4.335921982947997
RMSE: 0.8801
Root Mean Squared Error (RMSE) on the test set: 0.8801397904134773

In [277]:
best_model = grid_search.best_estimator['rmse']
predictions = best_model.test(testset)
rmse = accuracy.rmse(predictions)
print(f"RMSE on Test Set: {rmse}")

AttributeError: 'SVD' object has no attribute 'trainset'

In [268]:
# predictions = best_model.test(testset)
# rmse = accuracy.rmse(predictions)
# print(f"RMSE on Test Set: {rmse}")